* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F3D7B7;
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F3D7B7;
    
}



a{
    text-decoration: none;
    color: black;
    
    
}

nav{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin-top: 30px;
}



button{
    background-color: green;
    border: none;
    border-radius: 30px;
    width: 190px;
    height: 50px;
    color:white;
}

.co {
    width: 1521px;
    height: 620px;
    background-color: #F3D7B7;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 450px;
}

.co-text h1{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 64px;
}
.co-text p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
}


.bir{
    position: absolute;
    top: 120px;
}


.cup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1521px;
    height: 620px;
    background-color: #F8F8F2;

}

.cup-text p{
    display: flex;
    align-items: center;
    
    font-size: 18px;
    font-weight: 400;
    
}
.cup-text h1{
    display: flex;
    align-items: center;
    
    font-size: 48px;
    font-weight: 700;

}


.kassa {
    background-color: #C99B67;
    width: 1521px;
    height: 510px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    
}

.kassa h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
    padding-bottom: 20px;

}

.kassa p {
    font-weight: 400;
    font-size: 18px;
    color: white;
    
    width: 639px;
    height: 150px;

}

.kassa div {

}


.imge {
    position: absolute;
    top: 1150px;
    left: 820px;
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1521px;
    height: 160px;
    background-color: #F3D7B7;

}

.text a {
    font-size: 16px;
    font-weight: 700;

}

.text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
